<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        House
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @dogs.each do |dog| %>    <!--配列で全てか@dogに入っているのでeachで取り出してdogの変数に入ってる-->
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to dog_path(dog) do %>
                  <%= attachment_image_tag dog, :image %>
                <% end %>
              </figure>
            </div>

            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= link_to user_path(dog.user.id) do %>
                      <%= attachment_image_tag dog.user, :profile_image, fallback: "no-image.png", class: "profile_image" %>
                    <% end %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title"><%=link_to dog.user.username, user_path(dog.user.id) %></div>   <!--dogに結びついてるuserを取ってusernameを表示する-->
                </div>
              </div>

              <div class="content">
                <time><%= dog.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新  <!--更新日時を表示、またstrftime("%Y-%m-%d %H:%M")で日本時間にする-->
              </div>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
