<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Detail</h1>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= attachment_image_tag @dog, :image %>
            </figure>
          </div>

          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="dogname is-4"><%= @dog.dogname %></p>
                <p class="title is-4"><%= @dog.title %></p>
              </div>
            </div>

            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <td>
                    <% if current_user.already_favorited?(@dog) %>
                      <%= link_to dog_favorites_path(@dog), remote:true, method: :delete do %>
                          <i class="fas fa-heart"></i>
                      <% end %>
                      <%= @dog.favorites.count %>
                    <% else %>
                      <%= link_to dog_favorites_path(@dog), remote:true, method: :post do %>
                          <i class="far fa-heart"></i>
                      <% end %>
                      <%= @dog.favorites.count %>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <th>キャプション</th>
                </tr>
                <tr>  <!--simple_formatで改行などが反映できる-->
                  <td><%= simple_format @dog.body %></td>
                </tr>
              </table>   <!--もし、dogに紐付いているuser.idと今ログインしている人のidが一致しているのであれば編集ボタンを表示する-->
              <% if @dog.user.id == current_user.id %>
                <%= link_to "編集", edit_dog_path(@dog), class: "button is-primary" %>
              <% end %>
            </div>

          </div>
        </div>
      </div>
      <div class="column is-4">
        <article class="panel is-dark">
          <p class="panel-heading">
            <%= @dog.user.username %>
          </p>
          <div class="panel-block">
            <p class="control">
            <!--投稿した人のプロフィール-->
            <%= @dog.user.profile %>
            </p>
          </div>
          <%= link_to user_path(@dog.user), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
          <%= @dog.user.username %>さんのプロフィールへ
          <% end %>
        </article>
      </div>
    </div>
  </div>
</section>










