<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        My page
      </h1>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="columns is-centered">
          <div class="column is-4">
            <figure class="image is-128x128" style="margin-left: auto; margin-right: auto;">
              <%= attachment_image_tag @user, :profile_image, fallback: "no-image.png", class: "profile_image is-rounded" %>
            </figure>
          </div>
          <div class="column is-8">
            <table class="table is-fullwidth">
              <tr>
                <td class="is-size-4">
                  <strong><%= @user.username %></strong>
                </td>

                <% if user_signed_in? && current_user != @user %>
                  <% if current_user.active_relationships.exists?(target_user_id: @user.id) %>
                  <td class="is-size-4">
                    <strong><%= link_to 'unfollow', [@user, :follow], remote:true, class: "button is-info is-rounded", method: :delete %></strong>
                  </td>
                  <% else %>
                  <td class="is-size-4">
                    <strong><%= link_to 'follow', [@user, :follow], remote:true, class: "button is-info is-rounded", method: :post %></strong>
                  </td>
                  <% end %>
                <% end %>

                <td class="is-size-4">
                  <strong><%= link_to 'followings', [@user, :followings], class: "button is-warning is-light" %></strong>
                </td>

                <td class="is-size-4">
                  <strong><%= link_to 'followers', [@user, :followers], class: "button is-warning is-light" %></strong>
                </td>
                <!--もし表示しているユーザーのidと一致して良いたらemailを表示する-->
                <% if @user.id == current_user.id %>
                <td class="is-size-4">
                  <%= @user.email %>
                </td>
                <td>
                  <%= link_to "編集", edit_user_path(@user), class: "button is-primary" %>
                </td>
                <% end %>
              </tr>
            </table>
            <table class="table is-fullwidth">
              <tr>
                <td>
                  <%= @user.profile %>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @user.dogs.each do |dog| %>  <!--@userに結びついてるdogに一つ々取ってきて表示する-->
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to dog_path(dog) do %>
                  <%= attachment_image_tag dog, :image, fallback: "no-image.png" %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <%= link_to dog_path(dog), class: "panel-block" do %>
                    <span class="panel-icon">
                      <i class="fas fa-book" aria-hidden="true"></i>
                    </span>
                    続きを読む
                  <% end %>
                  <% if @user.id == current_user.id %>    <!--もしも@user idと　current_user idが等しかった以下を表示する-->
                    <%= link_to edit_dog_path(dog), class: "panel-block" do %>
                      <span class="panel-icon">
                        <i class="fas fa-edit"></i>
                      </span>
                      編集
                    <% end %>
                    <%= link_to dog_path(dog), method: :delete, data: {confirm: "削除しますか？"}, class: "panel-block" do %>
                      <span class="panel-icon">
                        <i class="fas fa-trash"></i>
                      </span>
                      削除
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="content">
                <time><%= dog.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>



















